/*@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';*/
@import 'http://fonts.googleapis.com/css?family=Bangers';
html,
body {
      margin: 0px;
      padding: 0px;
      overflow-x: hidden;
      min-width: 320px;
      background: #FFFFFF;
      font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
      font-size: 14px;
      line-height: 1.4285em;
      color: rgba(0, 0, 0, 0.87);
      font-smoothing: antialiased;
}
.wrapper {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      /*overflow: hidden;*/
      font-family: Bangers, sans-serif;

      /*font-family: 'comic sans', sans-serif;*/
}

.wrapper > * {
  padding: 0px;
  flex: 1 100%;
}

.page-header {
      flex-direction: column;
      margin: inherit;
      background: deepskyblue;
      background-size: cover;
      font-family: Bangers, sans-serif;
      color: #000000;
      letter-spacing: 0.065em;
      text-shadow: 0.050em 0.050em #ffffff;

}
.page-header h1 {
      /*flex-direction: column;
      margin: 10;
      background: deepskyblue;
      background-size: cover;
      font-family: Bangers, sans-serif;*/
      font-size: 3em;
      margin-left: 10px;
      /*color: #000000;
      letter-spacing: 0.065em;
      text-shadow: 0.035em 0.035em #ffffff;*/
}

.page-header h1 .closer {
      letter-spacing:0.05em;
}

.page-header a {
      color: #000000;
      text-decoration: none;
}

#login {
      float: right;
      background: deepskyblue;
      background-size: cover;
      font-family: Bangers, sans-serif;
      font-size: 1.5em;
      letter-spacing: 0.065em;
      text-shadow: 0.050em 0.050em #ffffff;
      margin: 10px;
}

#logout {
     float: right;
     background: deepskyblue;
     background-size: cover;
     font-family: Bangers, sans-serif;
     font-size: 1em;
     letter-spacing: 0.065em;
     text-shadow: 0.050em 0.050em #ffffff;
     margin: 10px;
}

.content-container {
      min-height: 800px;
      flex-direction: row;
      flex: 1 100%;
}

.content-container h1 .closer {
      letter-spacing:0.065em;
}

.mini-viewer {
      float: right;
      margin: 10px;
      margin-right: 100px;


}
/*p {
      font-family:'Comic Sans', cursive;
      font-style: italic;
      font-size: 24px;
      letter-spacing: 0.035em;
      color: #000000;
      padding-left: 1em;
      text-shadow: 0em 0em #ffffff;
}*/

.page-footer {
      background: #708090;
      background-size: cover;
      height: 200px;
      margin: inherit;
      justify-content: flex-start;
}

.unstyled {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: flex-start;
      list-style: none;
      text-align: left;
      padding: 10px;
  /*border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
  /*justify-content: flex-end;*/
}

.unstyled li {
      display: block;
      list-style-type: disc;
      -webkit-margin-before: .5em;
      -webkit-margin-after: .5em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 10px;
      border-bottom: none;
}
