/*@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';*/
@import 'http://fonts.googleapis.com/css?family=Bangers';
html,
body {
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-family: Bangers, sans-serif;
      background: #708090;
      /*font-family: 'comic sans', sans-serif;*/
}
.page-header h1 {
      font-family: Bangers, sans-serif;
      font-size: 3em;
      color: #0000ff;
      letter-spacing: 0.065em;
      text-shadow: 0.035em 0.035em #ffff00;
}

.page-header h1 .closer {
      letter-spacing:0.05em;
}

.page-header a {
      color: #0000ff;
      text-decoration: none;
}

p {
      font-family:'Comic Sans', cursive;
      font-style: italic;
      font-size: 24px;
      letter-spacing: 0.035em;
      color: #000000;
      padding-left: 1em;
      text-shadow: 0em 0em #ffffff;
}
