<!DOCTYPE html>
{% load staticfiles %}
<html>
        <head>
                <meta charset="utf-8">
                <title>Indie Comicbook Reader</title>

                <meta name="description" content="">

                <!-- Mobile-friendly viewport -->
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

                 <!-- Style sheet link -->
                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
                <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        </head>

        <body>
          <div class="page-header">
              <h1><a href="/">Indie Comic Book Reader</a></h1>
          </div>
          <div class="content container">
              <div class="row">
                  <div class="col-md-8">
                  {% block content %}
                  {% endblock %}
                  </div>
              </div>
          </div>
          <div class="page-footer">
            <div class="span">
              <ul class="unstyled">
                <li>
                  <img width="25" height="25" style="vertical-align:middle" src="{% static "image/File_000.jpg" %}">
                </li>
                <li>&copy; Copyright 2016 ICBR</li>
              </ul>
            </div>
          </div>
      </body>
</html>
