{% load staticfiles %}
<form action="{% url "reader-cbr" %}" method="post" enctype="multipart/form-data">


          <div id='slider'>
            <div id='images'>
              <!-- List of uploaded documents -->
              <link rel="stylesheet" href="{% static "css/cbr.css" %}">
              {% if images %}
                      <ul>
                      {% for images in images %}
                              <li><a href="{{ images.imagefile.url }}">{{ images.imagefile.name }}
                              <img src="{{ images.imagefile.url }}" alt="{{ images.imagefile.name }}">
                              </a></li>
                      {% endfor %}
                      </ul>
              {% else %}
                      <p>No images.</p>
              {% endif %}

            </div>
            <div id='controls'>
              <div>
                <button id='previous'>&lt;</button>
              <button id='next'>&gt;</button>
              </div>
              <button id='toggle-fullscreen'>
                <i class='material-icons'>fullscreen</i>
              </button>

            </div>
          </div>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
          <script src="{% static "js/cbr.js" %}"></script>
</form>
