{% extends 'base.html' %}

{% block content %}
<article>
  <h1>How To Build a Comic Book...</h1>

  <h2>The Theoretical Parts</h2>
    <ul>
      <li>Cover, this is your gotcha. Comics are the only books ever judged by their cover, in my humble opinion.</li>
      <li>front inside cover, this could be your copyright page or you business card or you could put your first page of your story.</li>
      <li>page 1 and so on until your last page, Comics are generally 22pages long for most comic companies want to see 3 consecutive pages of story plus examples of finished art</li>
      <li>Back inside cover, it could be your last page of art, an expression of what comes next ,or it could be a letter to the editor and yes, if you do this it should be to the specific editor of the specific company you are sending it to</li>
      <li>Back cover, this could be more examples of your art work, a bio about you, or cover letter as I said before.</li>
    </ul>

  <h2>The Practical Parts</h2>
    <ul>
      <li>All objects have to be stored as an image file either .jpg or .png (even your document type files)</li>
        <ul>
          <li> although I will no give a full explanation here save your doc files as to pdf and then follow instructions here http://www.wikihow.com/Convert-PDF-to-Image-Files</li>
        </ul>
      <li>All files have to have the same image size for example if your first image is 1988x3065 then all of your images need to be that same size</li>
        <ul>
          <li>One caveat is when you have a double page. The width of the page is doubled 3976x3065.</li>
        </ul>
      <li>All files must be of a single type, so all .jpg or all .png no mixing and matching.</li>
      <li>All files need to be labeled in the order you want to show them from 000 to 999</li>
        <ul>
          <li><h3>Examples:</h3></li>
            <ul>
              <li>my-comic-000.jpg</li>
              <li>000.png</li>
            </ul>
        </ul>
    </ul>
  <h2>Saving your Comic Book file</h2>
    <ul>
      <li>Once you have loaded your files press save and you will now be prompted with some choices and requirements</li>
      <ul>
        <li>Set your Comic File Name</li>
        <li>Set your Volume Number 001 or don't and it will default 001</li>
        <li>* Set issue number 001 - 999 or don't and it will default 001</li>
        <li>Set your content rating level (required)</li>
          <ul>
            <li>E - EVERYONE (all ages, may contain minimal violence)</li>
            <li>T - TEEN (12 and up, may contain mild violence or mild profanity)</li>
            <li>T+ - TEEN PLUS (16 and up, may contain moderate violence, moderate profanity use and suggestive themes )</li>
            <li>M - MATURE (18 and up, may contain nudity, profanity, excessive violence and other content not suitable for minors)</li>
          </ul>
        <li>Set your content to share, default is hidden.</li>
      </ul>
    </ul>
</article>
{% endblock %}
