
                {% if images %}
                        <ul>
                        {% for image in images %}
                                <li><a href="{{ image.imagefile.url }}">{{ image.imagefile.name }}
                                <img src="{{ image.imagefile.url }}" alt="{{ image.imagefile.name }}">
                                </a></li>
                        {% endfor %}
                        </ul>
                {% else %}
                        <p>No images.</p>
                {% endif %}

                <!-- Upload form. Note enctype attribute! -->
                <form action="{% url "reader-list" %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>{{ form.non_field_errors }}</p>
                        <p>{{ form.imagefile.label_tag }} </p>
                        <p>
                                {{ form.imagefile.errors }}
                                {{ form.imagefile }}
                        </p>
                        <p><input type="submit" value="Upload" /></p>
                </form>
