<form action="{% url "reader-upload" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.name.label_tag }} </p>
        <p>
                {{ form.name.errors }}
                {{ form.name }}
        </p>
        <p>{{ form.imagefile.label_tag }} </p>
        <p>
                {{ form.imagefile.errors }}
                {{ form.imagefile }}
        </p>
        <p><input type="submit" value="Upload" /></p>
</form>
